DB_URL=jdbc:postgresql://localhost:5432/gymrats
DB_USERNAME=gymrats
DB_PASSWORD=gymrats_local
JWT_SECRET=Y2hhbmdlLW1lLWluLXByb2R1Y3Rpb24tMzItYnl0ZXMtbWluaW11bQ==
JWT_EXPIRATION=3600
FRONTEND_ORIGIN=http://localhost:3000
